{% extends 'app/base.html' %} 
{% load static %} 
{% block titulo %}Marcas que nos acompañan{% endblock titulo %} 
{% block cabecera %}Marcas que nos acompañan {% endblock cabecera %} 
{% block contenido %}
    
    <form action="" method="POST">
        {% csrf_token %}   
        <div class="text-center">     
            <h3>¿ Esta seguro de eliminar la marca ? <p style="color:red">{{ object }}</p> </h3>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-primary btn-block" value="Confirmar">
        </div>
    </form>
{% endblock contenido %}